@import "Styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Outfit", sans-serif;
}

body,
html {
  font-family: var(--font-family);
}
html {
  scroll-behavior: smooth;
  --cursor-color: #333;
}

.ShowH {
  color: rgb(255 255 255 / 75%);
}

.TextLbl {
  color: rgb(255 255 255 / 60%);
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.container {
  @apply mx-auto max-w-[1260px] md:px-4;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 7s linear infinite;
}

--angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* @keyframes borderAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 400%;
  }
} */

/* .animated-border {
  position: relative;
  padding: 1px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #3bc1e2, #ff8c00, #40e0d0, #ff0080);
  background-size: 400% 400%;
  border-radius: 1rem;
  animation: borderAnimation 6s linear infinite;
} */

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate {
  100% {
    --angle: 360deg;
  }
}

.animated-border {
  position: relative !important;
  padding: 1px;
  border: 2px solid transparent;
  animation: rotate 8s linear infinite;
  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    conic-gradient(from var(--angle), #ffffff 60%, #71b7fb 100%) border-box;
  z-index: 1 !important;
}

.dark .animated-border {
  background:
    linear-gradient(#2c2f33, #2c2f33) padding-box,
    conic-gradient(from var(--angle), #2c2f33 60%, #71b7fb 100%) border-box;
}

.animated-border > div {
  border-radius: inherit;
}

.InputOutline:focus {
  outline: 0.1875rem solid rgba(2, 6, 23, 0.08);
}
/* Scroll to top */
.scrollToTopBtn {
  @apply fixed bottom-[30px] right-5 flex size-11 items-center justify-center rounded-full border-none bg-SkyBlue text-white transition-all duration-300 ease-in-out hover:bg-lightHover dark:bg-darkHover;
}

.scrollToTopBtn:hover {
  bottom: 30px;
}

.inputfeild {
  @apply w-full rounded-md border border-lightBorder bg-lightbg px-2 py-3 text-lightPrimarytext 
  outline-none transition duration-300 ease-in-out 
  hover:border-SkyBlue focus:border-SkyBlue focus:ring-2 focus:ring-SkyBlue
  dark:border-darkSecondaryGray dark:bg-darkbg dark:text-white dark:placeholder-darkPrimaryGray
  dark:hover:border-darkHover dark:focus:border-darkHover dark:focus:ring-darkHover;
}
