@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
html {
  background-color: black;
  color: #ffffffe6;
  @apply m-0 p-0 font-sans;
}

.ShowH {
  color: rgb(255 255 255 / 75%);
}

.TextLbl {
  color: rgb(255 255 255 / 60%);
}

html {
  scroll-behavior: smooth;
  --cursor-color: #333;
}
