@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Sans Pro", sans-serif;
}

.SpacingLetter {
  letter-spacing: 1px;
}

.imgBg {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../public/images/common-bg.svg);
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

.home-hero__content {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.heading-primary {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #111;
  font-weight: 900;
}

.Btn-Bg {
  background: #7843e9;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.Btn-Bg:hover {
  transform: translateY(-3px);
}
